<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Données personnelles
        </ion-title>
        <ion-button slot="end" color="danger" (click)="data.razBio()">RAZ</ion-button>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <div *ngIf="data.listePax">
        <ion-list *ngFor="let pax of data.listePax; let i = index">
            <ion-card>
                <ion-card-header>
                    <ion-toolbar>
                    <ion-card-title slot="start">
                        <ion-icon name="person"></ion-icon> {{pax.prenom}}</ion-card-title>
                        <ion-button slot="end" color="danger" (click)="suppPax(i)"><ion-icon name="trash" slot="icon-only"></ion-icon></ion-button>
                    </ion-toolbar>
                </ion-card-header>

                <ion-card-content>
                    <ion-item>
                        <ion-label>Nom</ion-label>
                        <ion-input [(ngModel)]="pax.nom" placeholder="Némar"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Prénom</ion-label>
                        <ion-input [(ngModel)]="pax.prenom" placeholder="Jean"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Date de naissance</ion-label>
                        <ion-input placeholder="01/01/1970" [(ngModel)]="pax.dateDN"
                                   pattern="^([0][1-9]|[1-2][0-9]|30|31)\/([0][1-9]|10|11|12)\/(19[0-9][0-9]|20[0-1][0-9]|2020)"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Lieu de naissance</ion-label>
                        <ion-input [(ngModel)]="pax.villeNaissance" placeholder="Banlieueville"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Adresse</ion-label>
                        <ion-input [(ngModel)]="pax.adresse" placeholder="999 avenue déserte"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Ville</ion-label>
                        <ion-input [(ngModel)]="pax.ville" placeholder="Poneyville"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Code Postal</ion-label>
                        <ion-input [(ngModel)]="pax.cp" inputmode="numeric"></ion-input>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addPax()">
            <ion-icon name="person-add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
