ion-content ion-toolbar {
  --background: translucent;
}

#pourBoire {
  width: 100vw;
  background: #FF9C08;
  margin: 0 -16px 0 -16px;
  padding: 20px 0 20px 0;
  text-align: center;
  color: white;

  p {
    font-weight: bold;
  }

  img {
    object-fit: contain;
    height: 90%;
  }

  ion-button {
    .button-native {
      padding: 20px;
    }
  }
}

