<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            A propos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 3</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-text>
        <p>Bonjour, cette application a été créé pour fonctionner sans internet. C'est une alternative hors-ligne à
            l'application en ligne ministerielle.
            <br>Elle ne contacte aucun serveur ce qui évite toute divulgation d'activité via les logs d'ip et de cookies
            toujours possibles.
            <br>Ces logs sont indépendants du générateur lui même et n'apparaissent donc nulle part dans le code source.
        </p>
        <p>Elle se base sur le formulaire officiel. Les données sont stockées uniquement sur le téléphone pour faciliter
            la génération de nouvelles attestations et sont facilement effaçables via les boutons "RAZ".
        </p>
        <p>La possibilité de selectionner plusieurs motifs n'est pas un bug, c'est une règle de gestion que l'on
            retrouve sur l'application officielle. Elle correspond à une recommandation officielle du ministère de
            l'interieur lisible sur leur site :
            <br>"Vous êtes incités à limiter vos sorties aux cas limitatifs énumérés, il est donc conseillé de grouper
            vos sorties et il est donc possible d’indiquer plusieurs motifs."</p>

        <p>Parce qu'il n'y a pas d'assurance sans transparence, le code source est bien entendu disponible sur
            demande.</p>

        <p>N'hésitez pas à nous faire remonter des idées d'amélioration !</p>
    </ion-text>

</ion-content>
